<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Add users</title>
</head>
<body>
<form action="/page.html" method="POST">
    User name: <input type="text" name="message"/>
    <input type="submit" value="Add">
</form>

<p></p>

<form action="/filter.html" method="POST">
    Filter: <input type="text" name="message"/>
    <input type="submit" value="+">
</form>

<table border="1" >
    <tr><th>User ID</th><th>User name</th></tr>
    <tr><td></td><td></td></tr>;
    ${myTable}
</table>

<p></p>



</body>
</html>

